{
    "presets": [
      ["@babel/preset-env", {
        "modules": false,
        "targets": {
          "esmodules": true
        }
      }],
      "@babel/preset-react"
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties"
    ],
    "env": {
      "cjs": {
        "presets": [
          ["@babel/preset-env", {
            "modules": "commonjs"
          }]
        ]
      },
      "test": {
        "presets": [
          ["@babel/preset-env", {
            "modules": "commonjs"
          }]
        ]
      }
    }
  }
