{
    // https://github.com/facebookincubator/create-react-app/blob/master/packages/eslint-config-react-app/index.js
    "extends": "react-app",
    "plugins": [
        "chai-friendly"
    ],
    // http://eslint.org/docs/rules/
    "rules": {
        "no-unused-expressions": 0,
        "chai-friendly/no-unused-expressions": 2,
        "import/default": "error",
        "import/export": "error",
        "import/named": "error",
        "import/namespace": "error",
        "import/no-amd": "error",
        "import/no-duplicates": "error",
        "import/no-extraneous-dependencies": "error",
        "import/no-named-as-default": "error",
        "import/no-named-as-default-member": "error",
        "import/no-unresolved": ["error", { "commonjs": true }],
        "indent": ["error", 4, { "SwitchCase": 1 }]
    }
}
