{
    // https://github.com/facebookincubator/create-react-app/blob/master/packages/eslint-config-react-app/index.js
    "extends": "react-app",
    "plugins": [
        "chai-friendly"
    ],
    // http://eslint.org/docs/rules/
    "rules": {
        "no-unused-expressions": 0,
        "chai-friendly/no-unused-expressions": 2,
        "import/default": "warn",
        "import/export": "warn",
        "import/named": "warn",
        "import/namespace": "warn",
        "import/no-amd": "warn",
        "import/no-duplicates": "warn",
        "import/no-extraneous-dependencies": "warn",
        "import/no-named-as-default": "warn",
        "import/no-named-as-default-member": "warn",
        "import/no-unresolved": ["warn", { "commonjs": true }],
        "indent": ["error", 4]
    }
}
